@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');


body{

	font-family: 'poppins';
	color: white;
	font-size: 14px;
}
h1{
  text-align: center;
  margin-bottom: 60px;
  color: #05A28D;
}
.Chart{
  display: flex;
  justify-content: center;
  align-items: center;
}
#bundle{
  padding-right: 10px;
  height: 100%;
  display: flex;
  color: Grey;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 70%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#bundle:hover{
  color:grey;
  
}
.options-label{
    font-size: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: lightblue; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px; 
    
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    background-size: cover;
    background-image: url("images/advyralogo.PNG");
    background-position: center;
    background-color: chartreuse;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:yellow; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

.pie_chart_content{

	height:100vh;
	background-color: #FCFCF4;
}


.overlay{

	background-color: #FCFCF4;
	height: 100%;
	padding-top: 10px;
padding-bottom: 10px;
}

.form-option{
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.options-label input {
  visibility: hidden;/* <-- Hide the default checkbox. The rest is to hide and allow tabbing, which display:none prevents */
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}
.options-label span {/* <-- Style the artificial checkbox */
  height: 15px;
  width: 15px;
  margin-right: 4px;
  border: 1px solid yellow;
  display:inline-block;
}
[type=checkbox]:checked + span {/* <-- Style its checked state */
  background: green;
}
.pie_chart_content .container{

	background-color: white;
	border-radius: 40px;
	padding: 0px;
}

.main_box h1{

	padding: 50px 0px 50px 0px;
	color: black;
	font-size: 25px;
}

.main_box{
  padding-right: 10px;
	background-color: white;
	height: 100%;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
}

.count_box{

	background-color: #0169B4;
	height: 100%;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	padding: 100px;
}

.form-control:disabled,
.form-control[readonly]{

	background-color: #3546b0;
	opacity: 1;

}

.form-control:focus{

	background-color: transparent;
	color: white;
	border: none;
}
.card{
  width:100%;
  height:100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  border-radius:10px;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color:whitesmoke;  
  border-radius:10px;
}
.back {
  overflow: hidden;
  z-index: -1;
  display: block;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-sizing: border-box;
}
.back:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100% 100%;
  background: url('https://i.imgur.com/W3tra4F.gif');
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.front, .back {
  transition: all 0.5s linear;
}
.front {
  background-image: url('https://i.imgur.com/W3tra4F.gif');
  z-index: 1;
  box-shadow: 5px 5px 5px #aaa;
}
.back {
  box-shadow: 0 0 0 #aaa;
}
.return {
  position: absolute;
  width: 100%;
  background-color: transparent;
  border: none;
  color: gray;
  cursor: pointer;
  padding: 5px;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  background-color: #dcdcdc;
  font-size: 18px;
}
.return:focus {
  outline: none;
}
.flipped, .hovercard:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flipped .front, .hovercard:hover .front {
  box-shadow: 0 0 0 #aaa;
}
.flipped .back, .hovercard:hover .back {
  box-shadow: 5px 5px 5px #aaa;
}
